.carousel {
    position: relative;
    .left, .right {
        @include opacity(1);
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
            span {
                cursor: pointer;
                position: absolute;
                display: block;
            }
    }
    &#hero-carousel {
        .left {
            span {
                @extend .shared-left-arrow-off;
                left:-1px;
                    &:hover {
                        @extend .shared-left-arrow-on;
                    }
            }
        }
        .right {
            span {
                @extend .shared-right-arrow-off;
                right:-1px;
                    &:hover {
                        @extend .shared-right-arrow-on;
                    }
            }
        }
        .left span, .right span {
            width:44px;
            height:84px;
            top:41%;
        }
        .carousel-indicators {
            margin-top:20px;
            margin-bottom:0px; 

                li {
                    background-color:transparent;
                    border-color:#c1c1c1;
                        &.active {
                            background-color: #333333;
                            width:10px;
                            height:10px;
                            margin:1px;
                        }
                }
        }
    }
    &#tool-carousel {

        .left span, .right span {
            width:15px;
            height:32px;
            top: 18%;
        }
        .left {
            span {
                left:-1px;
                @extend .shared-carousel-arrow-left;
            }
        }
        .right {
            span {
                right:-1px;
                @extend .shared-carousel-arrow-right;
            }
        }
    }
    .content {
        position: absolute;
        top:0px;
            &.dc52 {
                h1:first-child {
                    color:$medgrey;
                    margin: 200px 0 0 58px;
                }
                h1 {
                    color:#fff;
                    margin: 3px 0 35px 58px;
                    width:290px;
                    line-height: 30px;
                    text-align: left !important;
                }
                .dbutton {
                    margin-left:58px;
                }
            }
            &.dc62 {
                width:100%;
                text-align: center;
                    h1 {
                        margin:190px auto 110px;
                        width: 360px;
                    }
                    .dbutton {
                    }
            }
            &.air-multiplier {
                width:100%;
                    h1 {
                        margin:340px auto 0;
                        width:360px;
                    }
            }
    }
}