.cordless {
    .hero {
        margin-bottom: 0px !important;
            .hero_image {
                background:url(../images/cordless/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
            }
            h1 {
                margin: 282px 0 20px 130px;
                width: 295px;
                text-align: center;
            }
            .dbutton {
               margin-left:210px; 
            }
    }
     h1 {
        text-align: center;
        margin:40px 0;
    }
    .bin, .extra_tools, .cost, .guarantee {
        width:165px;
        height:151px;
    }
    // Product variant information
    .dc62-animal {
        .model {
            @extend .cordless-dc62-animal-sku;
            width:116px;
            height:59px;
        }
        .product-image {
            background-image:url(../images/cordless/dc62_animal.jpg);
            width:465px;
            height:373px;
        }
    }
}