.cordless {
    .hero {
        margin-bottom: 0px !important;
        height:480px;
            .hero_image {
                background:url(../images/cordless/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
            }
            h1 {
                margin: 282px 0 20px 95px;
                width: 360px;
                text-align: center;
            }
            .dbutton {
               margin-left:210px; 
            }
    }
     h1 {
        text-align: center;
        margin:40px 0;
    }
    .bin, .extra_tools, .cost, .guarantee {
        width:165px;
        height:151px;
    }
    // Select vacuum
    .select-vacuum {
        .vacuums {
            div {
                display: inline-block;
                margin:10px 0 15px;
                    span {
                        height:203px;
                    }
            }
            .arrow {
                left:108.5px;
            }
            .dc-62-animal-pro {
                width:129px;
                margin-left:62px;
                    span {
                        @extend .cordless-thumb-dc62-animal-pro;
                    }
            }
            .dc-62-uptop {
                width:129px;
                    span {
                        @extend .cordless-thumb-dc62-uptop;
                    }
            }
            .dc-45-animal-pro {
                width:124px;
                    span {
                        @extend .cordless-thumb-dc45-animal-pro;
                    }
            }
            .dc-35-multifloor {
                width:137px;
                    span {
                        @extend .cordless-thumb-dc35-multifloor;
                    }
            }
        }
    }
    // Product variant information
    .dc-62-animal-pro {
        .model {
            @extend .cordless-motif-dc62-animal-pro;
            width:128px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cordless/DC62_IRNKSPU.jpg);
            width:465px;
            height:400px;
        }
        span.dc-62-animal-pro {
            display: block;
        }
        .tools {
            .motorised-tool, .crevice-tool, .combination-tool {
                display: inline-block;
            }
        }
    }
    .dc-62-uptop {
        .model {
            @extend .cordless-motif-dc62-uptop;
            width:128px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cordless/DC62_IRNKSFU.jpg);
            width:465px;
            height:400px;
        }

        span.dc-62-uptop {
            display: block;
        }
        .tools {
            .motorised-tool, .crevice-tool, .combination-tool {
                display: inline-block;
            }
        }
    }
    .dc-45-animal-pro {
        .model {
            @extend .cordless-motif-dc45-animal-pro;
            width:309px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cordless/DC45_IRNKSBL.jpg);
            width:465px;
            height:400px;
        }

        span.dc-45-animal-pro {
            display: block;
        }
        .tools {
            .motorised-tool, .crevice-tool, .combination-tool {
                display: inline-block;
            }
        }
    }
    .dc-35-multifloor {
        .model {
            @extend .cordless-motif-dc35-multifloor;
            width:309px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cordless/DC35_IRSRIBL.jpg);
            width:465px;
            height:400px;
        }

        span.dc-35-multifloor {
            display: block;
        }
        .tools {
            .combination-tool {
                display: inline-block;
            }
        }
    }
}