.cylinders {
    .hero {
        margin-bottom: 0px !important;
            .hero_image {
                background:url(../images/cylinders/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
            }
            h1:first-child {
                color:$medgrey;
                margin: 200px 0 0 58px;
            }
            h1 {
                color:#fff;
                margin: 3px 0 35px 58px;
                width: 290px;
                line-height: 30px;
                text-align: left !important;
            }
            .dbutton {
                margin-left:58px;
            }
    }
    // Select vacuum
    .select-vacuum {
        .vacuums {
            div {
                display: inline-block;
                margin:10px 0 15px;
                    span {
                        height:175px;
                    }
            }
            .arrow {
                left:79.5px;
            }
            .dc-52-animal-complete {
                width:125px;
                margin-left:35px;
                    span {
                        width:132px;
                        @extend .cylinders-thumb-dc52-animal-complete;
                    }
            }
            .dc-52-allergy-musclehead-parquet {
                width:102px;
                height:260px;
                    p, span {
                        position: relative;
                        top:18px;
                    }
                    span {
                        width:105px;
                        @extend .cylinders-thumb-dc52-allergy-musclehead-parquet;
                    }
            }
            .dc-52-allergy-musclehead {
                width: 110px;
                margin-right: 5px;
                    span {
                        width:111px;
                        @extend .cylinders-thumb-dc52-allergy-musclehead;
                    }
            }
            .dc-33-allergy {
                position: relative;
                top:-18px;
                     span {
                        width:133px;
                        @extend .cylinders-thumb-dc33-allergy;
                     }
                     p:last-child {
                        height:32px;
                     }
            }
            .dc-33-origin-plus {
                position: relative;
                top:-18px;
                    span {
                        width:114px;
                        @extend .cylinders-thumb-dc33-origin-plus;
                    }
            }
            .dc-33-musclehead {
                position: relative;
                top:-18px;
                    span {
                        width:114px;
                        @extend .cylinders-thumb-dc33-musclehead;
                    }
            }
        }
    }
    .product-image {
        margin:20px 0;
    }
    // Product variant information
    .dc-52-animal-complete {
        .model {
            @extend .cylinders-motif-dc52-animal-complete;
            width:262px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cylinders/dc52_animal.jpg);
            width:465px;
            height:400px;
        }
        span.dc-52-animal-complete {
            display: block;
        }
        .tools {
            .combination-tool, .stair-tool, .hard-tool, .tft-tool, .stubborn-tool {
                display: inline-block;
            }
        }
    }
    .dc-52-allergy-musclehead-parquet {
        .model {
            @extend .cylinders-motif-dc52-allergy-musclehead-parquet;
            width:404px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cylinders/DC52_IRSRPU.jpg);
            width:465px;
            height:400px;
        }

        span.dc-52-allergy-musclehead-parquet {
            display: block;
        }
        .tools {
            .combination-tool, .stair-tool, .hard-tool {
                display: inline-block;
            }
        }
    }
    .dc-52-allergy-musclehead {
        .model {
            @extend .cylinders-motif-dc52-allergy-musclehead;
            width:404px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cylinders/DC52_IRSBL.jpg);
            width:465px;
            height:400px;
        }

        span.dc-52-allergy-musclehead {
            display: block;
        }

        .tools {
            .combination-tool, .stair-tool {
                display: inline-block;
            }
        }
    }
    .dc-33-allergy {
        .model {
            @extend .cylinders-motif-dc33-allergy;
            width:404px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cylinders/DC33c_IRSRIBL2.jpg);
            width:465px;
            height:400px;
        }

        span.dc-33-allergy {
            display: block;
        }
        .tools {
            .combination-tool, .stair-tool {
                display: inline-block;
            }
        }
    }
    .dc-33-origin-plus {
        .model {
            @extend .cylinders-motif-dc33-origin-plus;
            width:404px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cylinders/DC33c_IRMRED.jpg);
            width:465px;
            height:400px;
        }

        span.dc-33-origin-plus {
            display: block;
        }
        .tools {
            .combination-tool, .stair-tool, .mattress-tool {
                display: inline-block;
            }
        }
    }
    .dc-33-musclehead {
        .model {
            @extend .cylinders-motif-dc33-musclehead;
            width:204px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/cylinders/DC33c_IRSRIFU2.jpg);
            width:465px;
            height:400px;
        }

        span.dc-33-allergy {
            display: block;
        }
        .tools {
            .combination-tool, .stair-tool {
                display: inline-block;
            }
        }
    }
}