.fans {
    .hero {
        margin-bottom: 0px !important;
            .hero_image {
                background:url(../images/fans/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
            }
            h1 {
                margin: 190px 0 25px 45px;
                width: 280px;
            }
            .dbutton {
               margin-left:55px; 
            }
    }
    .safe {
        @extend .fans-panel-1;
    }
    .tilt {
        @extend .fans-panel-2;
    }
    .clean {
        @extend .fans-panel-3;
    }
    // Product variant information
    .am05-iron-blue {
        .model {
            @extend .fans-am05-sku;
            width:157px;
            height:59px;
        }
        .product-image {
            background-image:url(../images/fans/am05_iron_blue.jpg);
            width:465px;
            height:375px;
        }
    }
}