.fans {
    .hero {
        margin-bottom: 0px !important;
            .hero_image {
                background:url(../images/fans/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
            }
            h1 {
                margin: 190px 0 25px 45px;
                width: 280px;
            }
            .dbutton {
               margin-left:55px; 
            }
    }
    .safe {
        @extend .fans-panel-1;
    }
    .tilt {
        @extend .fans-panel-2;
    }
    .clean {
        @extend .fans-panel-3;
    }
    // Select fan
    .select-vacuum {
        .vacuums {
            div {
                display: inline-block;
                margin:15px 0;
                    span {
                        height:173px;
                    }
                    p:nth-child(2) {
                        padding-top:5px;
                    }
            }
            .arrow {
                left:54.5px;
            }
            .am-08-white-silver {
                padding-right:0;
                span {
                    width:135px;
                    @extend .fans-thumb-am08-white-silver;
                }
            }
            .am-07-black-nickel {
                
                span {
                    width:124px;
                    @extend .fans-thumb-am07-black-nickel;
                }
            }
            .am-05-black-nickel {
                padding-right:11px;
                margin-left:26px;
                span {
                    width:96px;
                    @extend .fans-thumb-am05-black-nickel;
                }
            }
            .am-06-white-silver {
                span {
                    width:127px;
                    @extend .fans-thumb-am06-white-silver;
                }
            }
            .am-05-iron-blue {
                span {
                    width:114px;
                    @extend .fans-thumb-am05-iron-blue;
                }
            }
            .am-05-white-silver {
                padding-right: 8px;
                span {
                    width:105px;
                    @extend .fans-thumb-am05-white-silver;
                }
            }
        }
    }
    .product-image {
        margin:20px 0;
    }
    // Product variant information
    .am-05-iron-blue {
        .model {
            @extend .fans-motif-am05;
            width:36px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/fans/AM05_IRSBL.jpg);
            width:465px;
            height:400px;
        }
        h2.am-05-iron-blue, h3.am-05-iron-blue {
            display: block;
        }
    }
    .am-05-black-nickel {
        .model {
            @extend .fans-motif-am05;
            width:36px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/fans/AM05_BLKNK.jpg);
            width:465px;
            height:400px;
        }

        h2.am-05-black-nickel, h3.am-05-black-nickel {
            display: block;
        }
    }
    .am-05-white-silver {
        .model {
            @extend .fans-motif-am05;
            width:36px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/fans/AM05_WHSIL.jpg);
            width:465px;
            height:400px;
        }

        h2.am-05-white-silver, h3.am-05-white-silver {
            display: block;
        }
    }
    .am-06-white-silver {
        .model {
            @extend .fans-motif-am06;
            width:36px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/fans/AM06_12_WHSIL.jpg);
            width:465px;
            height:400px;
        }

        h2.am-06-white-silver, h3.am-06-white-silver {
            display: block;
        }
    }
    .am-07-black-nickel {
        .model {
            @extend .fans-motif-am07;
            width:36px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/fans/AM07_BLKNK.jpg);
            width:465px;
            height:400px;
        }

        h2.am-07-black-nickel, h3.am-07-black-nickel {
            display: block;
        }
    }
    .am-08-white-silver {
        .model {
            @extend .fans-motif-am08;
            width:36px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/fans/AM08.jpg);
            width:465px;
            height:400px;
        }

        h2.am-08-white-silver, h3.am-08-white-silver {
            display: block;
        }
    }
}