.handhelds {
    .hero {
        margin-bottom: 0px !important;
            .hero_image {
                background:url(../images/handhelds/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
            }
            h1 {
                margin: 181px 0 150px 89px;
                text-align: center;
                width: 240px;   
            }
            .action {
                margin-left: 125px;
            }

    }
    .hygenic, .extra, .cost, .guarantee {
        width:165px;
        height:151px;
    }
    .hygenic {
        background-image:url(../images/handhelds/panel1.jpg);
    }
    .extra {
        background-image:url(../images/handhelds/panel2.jpg);
    }
    .cost {
        background-image:url(../images/handhelds/panel3.jpg);
    }
    .guarantee {
        background-image:url(../images/guarantee_2.jpg);
    }
    h1 {
        text-align: center;
        margin:40px 0;
    }
    .dc34_origin, .dc34_animal {
        height:213px;
        width:168px;
        display:inline-block;
        margin-bottom:10px;
        margin-top:30px;
    }
    .dc34_origin {
        margin-left:15px;
        background-image:url(../images/handhelds/sku1.png);
    }
    .dc34_animal {
        background-image:url(../images/handhelds/sku2.png);
    }
    .select_vacuum {
        .arrow {
            left:81px;
        }
    }
    .dc34_origin_info {
        .model {
            background-image:url(../images/handhelds/dc34_origin.png);
            width:101px;
            height:59px;
        }
        .product_image {
            background-image:url(../images/handhelds/product.jpg);
            height:343px;
            width:360px;
        }
        .gallery1 {
            background-image:url(../images/handhelds/gallery1.jpg);
        }
        .gallery2 {
            background-image:url(../images/handhelds/gallery2.jpg);
        }
        .gallery3 {
            background-image:url(../images/handhelds/gallery3.jpg);
        }
        .gallery4 {
            background-image:url(../images/handhelds/gallery4.jpg);
        }
    }
    table {
        #product_1 {
            @extend .sp-handheld-1;
        }   
        #product_2 {
            @extend .sp-handheld-2;
        }
        #product_1, #product_2 {
            width:92px;
            height:61px;
        }
    }
}