.handhelds {
    .hero {
        margin-bottom: 0px !important;
        height:496px;
            .hero_image {
                background:url(../images/handhelds/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
            }
            h1 {
                margin: 181px 0 80px 69px;
                text-align: center;
                width: 280px;  
                height:100px 
            }
            .dbutton {
                margin-left: 146px;
            }

    }
    // Select vacuum
    .select-vacuum {
        .arrow {
            left:81px;
        }
        .dc-34-origin, .dc-34-animal {
            display:inline-block;
            margin:8px 0 15px;
                span {
                    height:202px;
                    width:168px;
                }
        }
        .dc-34-origin {
            margin-left:25px;
                span {
                    @extend .handhelds-thumb-dc34-origin;
                }
        }
        .dc-34-animal span {
            @extend .handhelds-thumb-dc34-animal;
        }
    }
    // Product variant information
    div.dc-34-origin {
        .model {
            @extend .handhelds-motif-dc34-origin;
            width:119px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/handhelds/DC34_IRSFU.jpg);
            width:465px;
            height:370px;
        }
        span.dc-34-origin {
            display: block;
        }
        .tools {
            .combination-tool {
                display:inline-block;
            }
        }
    }
    div.dc-34-animal {
        .model {
            @extend .handhelds-motif-dc34-animal;
            width:129px;
            height:50px;
        }
        .product-image {
            background-image:url(../images/handhelds/DC34_IRSRPU2.jpg);
            width:465px;
            height:370px;
        }
        span.dc-34-animal {
            display: block;
        }
        .tools {
            .motorised-tool, .combination-tool {
                display:inline-block;
            }
        }
    }
}