.handhelds {
    .hero {
        margin-bottom: 0px !important;
            .hero_image {
                background:url(../images/handhelds/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
            }
            h1 {
                margin: 181px 0 150px 89px;
                text-align: center;
                width: 240px;   
            }
            .dbutton {
                margin-left: 125px;
            }

    }
    .dc34_origin, .dc34_animal {
        height:213px;
        width:168px;
        display:inline-block;
        margin-bottom:10px;
        margin-top:30px;
    }
    .dc34_origin {
        margin-left:15px;
        background-image:url(../images/handhelds/sku1.png);
    }
    .dc34_animal {
        background-image:url(../images/handhelds/sku2.png);
    }
    .select_vacuum {
        .arrow {
            left:81px;
        }
    }
    .dc34_origin_info {
        .model {
            background-image:url(../images/handhelds/dc34_origin.png);
            width:101px;
            height:59px;
        }
        .product_image {
            background-image:url(../images/handhelds/product.jpg);
            height:343px;
            width:360px;
        }
    }
}