#header {
    background-color:#f3f3f3;
    overflow: hidden;
    margin:10px;
    position: relative;
    z-index:3;
    #root {
        @extend .shared-root;
        width:105px;
        height:57px;
        float:left;
    }
    ul {
        float:left;
        height:57px;
        margin:0;
        display:table-row;

        li {
            display: inline-block;
            padding-right:30px;
            display: table-cell;
            vertical-align: middle;
            height:57px;    
            @extend .futura-medium;
            font-size:1.2em;
                &:last-child {
                    margin-right: 0px;
                }
                &.active {
                    color:$medgrey;
                }
                a {
                    display:table-cell;
                    vertical-align: middle;
                    color:$darkgrey;
                    height:57px;
                        &:hover {
                            color:$medgrey;
                        }
                }
        }
    }
}