.index {
    .hero {
        text-align: center;
            .hero_image {
                background:url(../images/index/hero.jpg);
                background-repeat: no-repeat;
                height:100%;
                    h1 {
                        color:#404040;
                        width: 350px;
                        margin: 180px auto 120px auto;
                    }
            }
    }
    .cylinders, .cordless, .handhelds, .fans {
        width:151px;
        height:129px;
    }
    .cylinders {
        @extend .sp-index-panel-1;
    }
    .cordless {
        @extend .sp-index-panel-2;
    }
    .handhelds {
        @extend .sp-index-panel-3;
    }
    .fans {
        @extend .sp-index-panel-4;
    }
    .video {
        background-image:url(../images/index/james_dyson.jpg);
        background-repeat: no-repeat;
        height: 300px;
        margin-top:40px;
         h1 {
            color:#fff;
            width:290px;
            position: absolute;
            right: 0px;
            top:40px;
            text-align: left;
         }
    }
    h1 {
        text-align: center;
        margin:40px 0;
    }
    .ball, .cyclone, .multiplier {
        height:177px;
        width:210px;
    }
    .ball {
        background-image:url(../images/index/ball.jpg);
    }
    .cyclone {
        background-image:url(../images/index/cyclone.jpg);
    }
    .multiplier {
        background-image:url(../images/index/multiplier.jpg);
    }
    .fourcol {
        p {
            padding-top:10px; 
        }
    }
}