.dbutton {
    color:$darkgrey;
    padding:5px 30px;
    outline:none;
    @include border-radius(17px);
    font-weight:bold;
    display: inline-block;
        &:hover {
            color:#000;
            text-decoration: none;
        }
        &.grey {
            background-color: $buttongrey;
        }
        &.yellow {
            background-color: #ffcc00;
        }
        &.darkgrey {
            background:$medgrey;
            color:#fff;
        }
}
h1 {
    font-size: 25px;
}
h2 {
    font-size:18px;
}
p {
    margin:10px 0 20px !important;       
}
.video_selector {
    text-align: center;
    font-size:30px;
        .icon-stack {
                
        }

}
.icon-stack.player {
    font-size: 40px;
    cursor:pointer;
    @include opacity(0.3);
    @include transition-property(opacity);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in);
        .icon-circle {
            color:#fff;
        }
        &:hover {
            @include opacity(0.8);
        }
        .icon-play {
            left:3px;
        }
        i {
            line-height:80px;
        }
}
.gradient {
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(255,255,255); // Old browsers
    @include filter-gradient(#ffffff, #ededed, vertical); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 59%,rgba(237,237,237,1) 100%));
}
.border_bottom {
    border-bottom:1px solid #cccccc;
}
.border_top {
    border-top:1px solid #cccccc;
}