@import 'sass-bootstrap/lib/bootstrap';

@import "compass/css3";

/* Sprite settings */
$shared-layout:smart; 
@import "shared/*.png";

$index-layout:smart;
@import "index/*.png";

$fans-layout:smart;
@import "fans/*.png";

$handhelds-layout:smart;
@import "handhelds/*.png";

$cylinders-layout:smart;
@import "cylinders/*.png";

$cordless-layout:smart;
@import "cordless/*.png";

$tools-layout:smart;
@import "tools/*.png";

/* Variables */
$darkgrey: #333333;
$medgrey: #999999;
$lightgrey: #666666;
$backgrey: #e7e6e5;
$buttongrey: #d8d8d8;

@import "1140";
@import "sprite";
@import "fonts";
@import "animations";

@import "base";
@import "header";
@import "base";
@import "index";
@import "handhelds";
@import "fans";
@import "cylinders";
@import "cordless";
@import "carousel";
