@import 'sass-bootstrap/lib/bootstrap';

@import "compass/css3";

/* Sprite settings */
$icono-layout:smart; 
@import "icono/*.png";
$machine-layout:smart;
@import "machines/*.png";

/* Variables */
$darkgrey: #333333;
$medgrey: #999999;
$lightgrey: #666666;
$backgrey: #e7e6e5;
$buttongrey: #d8d8d8;

/* Sprites */
.sp-root { @include icono-sprite(root); }
.sp-arrow { @include icono-sprite(arrow); }
.sp-power { @include icono-sprite(spec_icon4); }
.sp-capacity { @include icono-sprite(spec_icon1); }
.sp-weight { @include icono-sprite(spec_icon2); }
.sp-dimension { @include icono-sprite(spec_icon3); }
.sp-cyclone { @include icono-sprite(spec_icon6); }
.sp-cleaner { @include icono-sprite(spec_icon5); }
.sp-cord { @include icono-sprite(spec_icon7); }
.sp-dimensions { @include icono-sprite(spec_icon8); }
.sp-technology { @include icono-sprite(spec_icon9); }
.sp-speed { @include icono-sprite(spec_icon10); }
.sp-oscillation { @include icono-sprite(spec_icon11); }
.sp-temp { @include icono-sprite(spec_icon12); }
.sp-display { @include icono-sprite(spec_icon13); }
.sp-touch-tilt { @include icono-sprite(spec_icon14); }
.sp-brushbar { @include icono-sprite(spec_icon15); }
.sp-stair { @include icono-sprite(spec_icon16); }
.sp-reach { @include icono-sprite(spec_icon17); }
.sp-filter { @include icono-sprite(spec_icon18); }
/* Index */
.sp-index-panel-1 { @include icono-sprite(index_panel1); }
.sp-index-panel-2 { @include icono-sprite(index_panel2); }
.sp-index-panel-3 { @include icono-sprite(index_panel3); }
.sp-index-panel-4 { @include icono-sprite(index_panel4); }

/* Handheld */
.sp-handheld-1 { @include machines-sprite(handheld1); }
.sp-handheld-2 { @include machines-sprite(handheld2); }
/* Cordless */
.sp-cordless-1 { @include machines-sprite(cordless1); }
.sp-cordless-2 { @include machines-sprite(cordless2); }
.sp-cordless-3 { @include machines-sprite(cordless3); }
.sp-cordless-4 { @include machines-sprite(cordless4); }
/* Fans */
.sp-fan-1 { @include machines-sprite(fan1); }
.sp-fan-2 { @include machines-sprite(fan2); }
.sp-fan-3 { @include machines-sprite(fan3); }
.sp-fan-4 { @include machines-sprite(fan4); }
/* Cylinders */
.sp-cylinder-1 { @include machines-sprite(cylinder1); }
.sp-cylinder-2 { @include machines-sprite(cylinder2); }
.sp-cylinder-3 { @include machines-sprite(cylinder3); }
.sp-cylinder-4 { @include machines-sprite(cylinder4); }
.sp-cylinder-5 { @include machines-sprite(cylinder5); }
.sp-cylinder-6 { @include machines-sprite(cylinder6); }

body {
    color:$darkgrey;
}
a.active, a:hover {
    text-decoration: none;
}
.hero {
    margin-bottom:30px;
    height:480px;
    .twelvecol {
        position: relative;
        height:480px;
            .hero_image {
                z-index:1;
                position: absolute;
                top:0px;
                left:0px;
                width:100%;
            }
    }
    .action {
        padding: 6px 4px 4px 15px;
        position: relative;
        background-color: #cccccc;
        color:#000;
            .icon-stack {  
                margin-left:10px;
                    .icon-play {
                        font-size: 1em;
                        margin-left: 1px;
                        margin-top:-1px;
                    }
                    .icon-circle {
                        font-size: 2.3em;
                    }
            }
    }
}
.gutter {
    padding:0 15px;
}
.video {
    position: relative;
}
.select_vacuum {
    overflow:visible !important;
    border-bottom:1px solid #d7d7d7;
    .vacuums {
            .arrow {
                @extend .sp-arrow;
                width:31px;
                height:14px;
                position: relative;
                top:14px;
                display: block;
            }
            div {
                cursor: pointer;
            }
    }
}
.product {
    .product_menu {
        float:right;
        margin-top:11px;
            p {
                display: inline-block;
                padding:0 13px 0 3px;
            }
            .icon-circle {
                color:#878786;
            }
    }
    .fourcol {
        h2 {
            &:first-child {
                margin-top:50px;
                font-weight:bold;
            }
            &:nth-child(2) {
                padding-bottom:20px;
                border-bottom:1px solid #ccc;
            }
        }
        .tools {
            border-bottom:1px solid #ccc;
            margin-bottom:25px;
                div {
                    text-align: center;
                    width:110px;
                    display:inline-block;
                }
                p {
                    margin:10px 0 !important;
                }
        }
        .dbutton {
            margin-bottom: 30px;
        }
    }
    .gallery {
        div {
            width:100px;
            height:60px;
            margin-bottom:10px;
                &:first-child {
                    margin-bottom: 0px;
                }
                &:last-child {
                    margin-bottom: 30px;
                }
        }
        p {
            margin:30px 0 10px !important;
        }
    }
}
.compare {
    overflow: hidden;
        h1 {
            float:left;
            margin:20px 0 !important;
        }
        p {
            font-weight: bold;
            float:right;
            margin:21px 0 !important;
        }
}
table {
    width:100%;
    .power {
        @extend .sp-power;
    }
    .capacity {
        @extend .sp-capacity;
    }
    .weight {
        @extend .sp-weight;
    }
    .dimension {
        @extend .sp-dimension;
    }
    .cyclone {
        @extend .sp-cyclone;
    }
    .cleaner {
        @extend .sp-cleaner;
    }
    .dimensions {
        @extend .sp-dimensions;
    }
    .speed {
        @extend .sp-speed;
    }
    .technology {
        @extend .sp-technology;
    }
    .oscillation {
        @extend .sp-oscillation;
    }
    .temp {
        @extend .sp-temp;
    }
    .display {
        @extend .sp-display;
    }
    .touch-tilt {
        @extend .sp-touch-tilt;
    }
    .cord {
        @extend .sp-cord;
    }
    .speed {
        @extend .sp-speed;
    }
    .brushbar {
        @extend .sp-brushbar;
    }
    .stair {
        @extend .sp-stair;
    }
    .reach {
        @extend .sp-reach;
    }
    .filter {
        @extend .sp-filter;
    }
    .power, .capacity, .weight, .dimension, .cyclone, .cleaner, .dimensions,  .technology, .oscillation, .temp, .display, .touch-tilt, .cord, .speed, .brushbar, .reach, .stair, .filter {
        width:24px;
        height:27px;
    }
    tr {
        border-bottom:1px solid #ccc;
    }
    p {
        margin:10px 0 10px !important;
        text-align: center;
    }
    .dbutton {
        margin:20px 0;
        padding:5px 15px;
        margin:20px auto;
        width:86px;
        display:block;
    }
}
.features {
    padding-bottom:20px;
}
@import "1140";
@import "animations";
@import "header";
@import "styling";
@import "index";
@import "handhelds";
@import "fans";
@import "cylinders";
@import "cordless";
