<div class="cordless" id="main">
    <div class="hero">
        <div class="row">
            <div class="twelvecol">
                <div id="header">
                    <a href="/">
                        <div id="root"></div>
                    </a>
                    <ul>
                        <li>
                            <a href="#/cylinders">
                                {{ 'MENU.CYLINDER' | translate }}
                            </a>
                        </li>
                        <li class="active">{{ 'MENU.CORDLESS' | translate }}</li>
                        <li>
                            <a href="#/handhelds">
                                {{ 'MENU.HANDHELD' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="#/fans-and-heaters">
                                {{ 'MENU.FANS_HEATERS' | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hero_image">
                    <h1>{{ 'CORDLESS.HERO_HEADLINE' | translate }}</h1>
                    <a class="dbutton action">
                        {{ 'CORDLESS.HERO_BUTTON' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row gradient compare gutter">
            <div class="sixcol">
                <h2>{{ 'SHARED.SELECT_VACUUM' | translate }}:</h2>
            </div>
            <div class="sixcol last">
            </div>
        </div>
        <div class="row select_vacuum gradient">
            <div class="threecol"></div>
            <div class="sixcol vacuums">
                <div class="dc34_origin"></div>
                <div class="dc34_animal"></div>
                <span class="arrow"></span>
            </div>
            <div class="threecol last"></div>
        </div>
        <div class="dc62_animal product">
            <div class="row gutter">
                <div class="ninecol">
                    <div class="model"></div>
                </div>
                <div class="threecol last">
                    <div class="dbutton yellow">{{ 'SHARED.SHOP_NOW' | translate }}</div>
                </div>
                <div class="twelvecol border_bottom"></div>
            </div>
            <div class="row gutter">
                <div class="onecol"></div>
                <div class="sevencol">
                    <div class="product_image"></div>
                </div>
                <div class="fourcol last">
                    <h2>{{ 'CORDLESS.PRODUCT_1_PRICE' | translate }}</h2>
                    <h2>{{ 'CORDLESS.PRODUCT_1_TAGLINE' | translate }}</h2>
                    <div class="tools">
                        <p>{{ 'SHARED.INCLUDED_BOX' | translate }}:</p>
                        <div>
                            <img height="66" src="images/handhelds/tool1.jpg" width="57" />
                            <p>{{ 'CORDLESS.PRODUCT_1_TOOL_1_TITLE' | translate }}</p>
                        </div>
                        <div>
                            <img height="66" src="images/handhelds/tool2.jpg" width="59" />
                            <p>{{ 'CORDLESS.PRODUCT_1_TOOL_2_TITLE' | translate }}</p>
                        </div>
                        <div>
                            <img height="66" src="images/cordless/tool3.jpg" width="59" />
                            <p>{{ 'CORDLESS.PRODUCT_1_TOOL_3_TITLE' | translate }}</p>
                        </div>
                    </div>
                    <div class="dbutton yellow">{{ 'SHARED.SHOP_NOW' | translate }}</div>
                </div>
                <div class="twelvecol border_bottom"></div>
            </div>
        </div>
        <div class="row gutter">
            <div class="twelvecol">
                <h1>{{ 'CORDLESS.ALL_DYSONS_HAVE' | translate }}:</h1>
            </div>
        </div>
        <div class="row gutter features">
            <div class="threecol">
                <div class="bin"></div>
                <h2>{{ 'SHARED.HYGENIC_BIN_TITLE' | translate }}</h2>
                <p>{{ 'SHARED.HYGENIC_BIN_TEXT' | translate }}</p>
            </div>
            <div class="threecol">
                <div class="extra_tools"></div>
                <h2>{{ 'SHARED.EXTRA_TOOLS_TITLE' | translate }}</h2>
                <p>{{ 'SHARED.EXTRA_TOOLS_TEXT' | translate }}</p>
            </div>
            <div class="threecol">
                <div class="cost"></div>
                <h2>{{ 'SHARED.NO_EXTRA_COSTS_TITLE' | translate }}</h2>
                <p>{{ 'SHARED.NO_EXTRA_COSTS_TEXT' | translate }}</p>
            </div>
            <div class="threecol last">
                <div class="guarantee"></div>
                <h2>{{ 'SHARED.TWO_GUARANTEE_TITLE' | translate }}</h2>
                <p>{{ 'HANDHELD.TWO_GUARANTEE_TEXT' | translate }}</p>
            </div>
        </div>
    </div>
</div>