<div class="cylinders" id="main">
    <div class="hero">
        <div class="row">
            <div class="twelvecol">
                <div id="header">
                    <a href="/">
                        <div id="root"></div>
                    </a>
                    <ul>
                        <li class="active">{{ 'MENU.CYLINDER' | translate }}</li>
                        <li>
                            <a href="#/cordless">
                                {{ 'MENU.CORDLESS' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="#/handhelds">
                                {{ 'MENU.HANDHELD' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="#/fans-and-heaters">
                                {{ 'MENU.FANS_HEATERS' | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hero_image">
                    <h1>The only vacuum with</h1>
                    <h1>
                        No maintenance of filters
                        No bags to buy and
                        <br />
                        No loss of suction
                    </h1>
                    <a class="dbutton action">
                        See it in action
                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base icon-light"></i>
                            <i class="icon-play"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row gradient compare gutter">
            <div class="sixcol">
                <h2>Select a vacuum:</h2>
            </div>
            <div class="sixcol last">
                <p>Compare all cylinders</p>
            </div>
        </div>
        <div class="row select_vacuum gradient">
            <div class="threecol"></div>
            <div class="sixcol vacuums">
                <div class="dc34_origin"></div>
                <div class="dc34_animal"></div>
                <span class="arrow"></span>
            </div>
            <div class="threecol last"></div>
        </div>
        <div class="dc34_origin_info product">
            <div class="row gutter">
                <div class="sixcol">
                    <div class="model"></div>
                </div>
                <div class="sixcol last">
                    <div class="product_menu">
                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-star icon-light"></i>
                        </span>
                        <p>See features</p>
                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-list-ul icon-light"></i>
                        </span>
                        <p>View specification</p>
                    </div>
                </div>
                <div class="twelvecol border_bottom"></div>
            </div>
            <div class="row gutter">
                <div class="twocol gallery">
                    <p>See it in action:</p>
                    <div class="gallery1"></div>
                    <p>View gallery:</p>
                    <div class="gallery2"></div>
                    <div class="gallery3"></div>
                    <div class="gallery4"></div>
                </div>
                <div class="sixcol">
                    <div class="product_image"></div>
                </div>
                <div class="fourcol last">
                    <h2>€379</h2>
                    <h2>Powerful complete clean around the home.</h2>
                    <div class="tools">
                        <p>Included in the box:</p>
                        <div>
                            <img height="66" src="images/cylinders/tool4.jpg" width="57" />
                            <p>Tangle-free turbine</p>
                        </div>
                        <div>
                            <img height="66" src="images/handhelds/tool1.jpg" width="57" />
                            <p>Combination tool</p>
                        </div>
                        <div>
                            <img height="66" src="images/cylinders/tool5.jpg" width="57" />
                            <p>Stair tool</p>
                        </div>
                        <div>
                            <img height="66" src="images/cylinders/tool6.jpg" width="77" />
                            <p>Articulating hard floor tool</p>
                        </div>
                        <div>
                            <img height="66" src="images/cylinders/tool7.jpg" width="57" />
                            <p>Stubborn dirt brush</p>
                        </div>
                        <div>
                            <img height="66" src="images/cylinders/tool8.jpg" width="57" />
                            <p>Soft dusting brush</p>
                        </div>
                        <div>
                            <img height="66" src="images/handhelds/tool2.jpg" width="59" />
                            <p>Flexi tool</p>
                        </div>
                    </div>
                    <div class="dbutton yellow">Shop now</div>
                </div>
                <div class="twelvecol border_bottom"></div>
            </div>
        </div>
        <div class="row gutter">
            <div class="twelvecol">
                <h1>All Dyson cylinder vacuums have:</h1>
            </div>
        </div>
        <div class="row gutter features">
            <div class="threecol">
                <div class="hygenic"></div>
                <h2>Hygienic bin emptying</h2>
                <p>Just press the button to release the dirt – quickly and hygienically.</p>
            </div>
            <div class="threecol">
                <div class="extra"></div>
                <h2>Extra tools</h2>
                <p>Dyson-engineered tools to remove dust and dirt from awkward places.</p>
            </div>
            <div class="threecol">
                <div class="cost"></div>
                <h2>No extra costs</h2>
                <p>Dyson vacuums don't use bags and have lifetime washable filters - so no extra costs.</p>
            </div>
            <div class="threecol last">
                <div class="guarantee"></div>
                <h2>2 year guarantee</h2>
                <p>All new Dyson handheld vacuums come with a free 2 year parts and labour guarantee.</p>
            </div>
        </div>
    </div>
        </div>