<div class="fans" id="main">
    <div class="hero">
        <div class="row">
            <div class="twelvecol">
                <div id="header">
                    <a href="/">
                        <div id="root"></div>
                    </a>
                    <ul>
                        <li>
                            <a href="#/cylinders">
                                {{ 'MENU.CYLINDER' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="#/cordless">
                                {{ 'MENU.CORDLESS' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="#/handhelds">
                                {{ 'MENU.HANDHELD' | translate }}
                            </a>
                        </li>
                        <li class="active">{{ 'MENU.FANS_HEATERS' | translate }}</li>
                    </ul>
                </div>
                <div class="hero_image">
                    <h1>Fast, even room heating. High velocity air to cool.</h1>
                    <a class="dbutton action">
                        See it in action
                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base icon-light"></i>
                            <i class="icon-play"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row gradient compare gutter">
            <div class="sixcol">
                <h2>Select a fan:</h2>
            </div>
            <div class="sixcol last">
                <p>Compare all fans & heaters</p>
            </div>
        </div>
        <div class="row select_vacuum gradient">
            <div class="threecol"></div>
            <div class="sixcol vacuums">
                <div class="dc34_origin"></div>
                <div class="dc34_animal"></div>
                <span class="arrow"></span>
            </div>
            <div class="threecol last"></div>
        </div>
        <div class="am05_iron_blue product">
            <div class="row gutter">
                <div class="sixcol">
                    <div class="model"></div>
                </div>
                <div class="sixcol last">
                    <div class="product_menu">
                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-star icon-light"></i>
                        </span>
                        <p>See features</p>
                        <span class="icon-stack">
                            <i class="icon-circle icon-stack-base"></i>
                            <i class="icon-list-ul icon-light"></i>
                        </span>
                        <p>View specification</p>
                    </div>
                </div>
                <div class="twelvecol border_bottom"></div>
            </div>
            <div class="row gutter">
                <div class="twocol gallery">
                    <p>See it in action:</p>
                    <div class="gallery1"></div>
                    <p>View gallery:</p>
                    <div class="gallery2"></div>
                    <div class="gallery3"></div>
                    <div class="gallery4"></div>
                </div>
                <div class="sixcol">
                    <div class="product_image"></div>
                </div>
                <div class="fourcol last">
                    <h2>€379</h2>
                    <h2>In winter provides long-range heat projection. In summer it has powerful airflow and air velocity to cool you effectively.</h2>
                    <div class="tools">
                        <p>Heating and cooling fan - iron/blue</p>
                    </div>
                    <div class="dbutton yellow">Shop now</div>
                </div>
                <div class="twelvecol border_bottom"></div>
            </div>
        </div>
        <div class="row gutter">
            <div class="twelvecol">
                <h1>All Dyson fans & heaters have:</h1>
            </div>
        </div>
        <div class="row gutter features">
            <div class="threecol">
                <div class="safe"></div>
                <h2>Safe</h2>
                <p>Dyson fans & heaters have no blades or visible heating elements.</p>
            </div>
            <div class="threecol">
                <div class="tilt"></div>
                <h2>Touch tilt</h2>
                <p>Dyson fans aren't top-heavy like some other fans, pivot on their own centre of gravity.</p>
            </div>
            <div class="threecol">
                <div class="clean"></div>
                <h2>Easy to clean</h2>
                <p>Unlike many conventional fans Dyson fans & heaters have no grille, so they're easy to clean.</p>
            </div>
            <div class="threecol last">
                <div class="guarantee"></div>
                <h2>2 year guarantee</h2>
                <p>All new Dyson fans & heaters come with a free 2 year parts and labour guarantee.</p>
            </div>
        </div>
    </div>
</div>