<div class="handhelds" id="main">
    <div class="hero">
        <div class="row">
            <div class="twelvecol">
                <div id="header">
                    <a href="/">
                        <div id="root"></div>
                    </a>
                    <ul>
                        <li>
                            <a href="#/cylinders">
                                {{ 'MENU.CYLINDER' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="#/cordless">
                                {{ 'MENU.CORDLESS' | translate }}
                            </a>
                        </li>
                        <li class="active">{{ 'MENU.HANDHELD' | translate }}</li>
                        <li>
                            <a href="#/fans-and-heaters">
                                {{ 'MENU.FANS_HEATERS' | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hero_image">
                    <h1>{{ 'HANDHELD.HERO_HEADLINE' | translate }}</h1>
                    <a class="dbutton grey">
                        {{ 'HANDHELD.HERO_BUTTON' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row compare gutter">
            <div class="sixcol">
                <h2>{{ 'SHARED.SELECT_VACUUM' | translate }}:</h2>
            </div>
            <div class="sixcol last">
            </div>
        </div>
        <div class="row select-vacuum gradient">
            <div class="threecol"></div>
            <div class="sixcol vacuums">
                <div class="dc-34-origin bordered current">
                    <span></span>
                    <p>{{ 'HANDHELD.PRODUCT_1_NAME' | translate }}</p>
                    <p>{{ 'HANDHELD.PRODUCT_1_PRICE' | translate }}</p>
                </div>
                <div class="dc-34-animal">
                    <span></span>
                    <p>{{ 'HANDHELD.PRODUCT_2_NAME' | translate }}</p>
                    <p>{{ 'HANDHELD.PRODUCT_2_PRICE' | translate }}</p>
                </div>
                <span class="arrow"></span>
            </div>
            <div class="threecol last"></div>
        </div>
        <div class="dc-34-origin product">
            <div class="row gutter">
                <div class="sixcol">
                    <div class="model"></div>
                </div>
                <div class="sixcol last">
                    <div class="dbutton yellow">{{ 'SHARED.SHOP_NOW' | translate }}</div>
                </div>
                <div class="twelvecol border_bottom"></div>
            </div>
            <div class="row gutter">
                <div class="eightcol">
                    <div class="product-image"></div>
                </div>
                <div class="fourcol last">
                    <span class="dc-34-origin">
                        <h2>{{ 'HANDHELD.PRODUCT_1_PRICE' | translate }}</h2>
                        <h3>{{ 'HANDHELD.PRODUCT_1_TAGLINE' | translate }}</h3>
                    </span>
                    <span class="dc-34-animal">
                        <h2>{{ 'HANDHELD.PRODUCT_2_PRICE' | translate }}</h2>
                        <h3>{{ 'HANDHELD.PRODUCT_2_TAGLINE' | translate }}</h3>
                    </span>
                    <div class="tools">
                        <p>{{ 'SHARED.INCLUDED_BOX' | translate }}</p>
                        <div class="combination-tool tool">
                            <div></div>
                            <p>{{ 'SHARED.COMBINATION_TOOL' | translate }}</p>
                        </div>
                        <div class="motorised-tool tool">
                            <div></div>
                            <p>{{ 'SHARED.MOTORISED_TOOL' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="twelvecol border_bottom"></div>
            </div>
        </div>
        <div class="row gutter">
            <div class="twelvecol">
                <h1>{{ 'HANDHELD.ALL_DYSONS_HAVE' | translate }}</h1>
            </div>
        </div>
        <div class="row gutter features">
            <div class="threecol">
                <div class="hygenic_handhelds"></div>
                <h2>{{ 'SHARED.HYGENIC_BIN_TITLE' | translate }}</h2>
                <p>{{ 'SHARED.HYGENIC_BIN_TEXT' | translate }}</p>
            </div>
            <div class="threecol">
                <div class="tools"></div>
                <h2>{{ 'SHARED.EXTRA_TOOLS_TITLE' | translate }}</h2>
                <p>{{ 'SHARED.EXTRA_TOOLS_TEXT' | translate }}</p>
            </div>
            <div class="threecol">
                <div class="cost"></div>
                <h2>{{ 'SHARED.NO_EXTRA_COSTS_TITLE' | translate }}</h2>
                <p>{{ 'SHARED.NO_EXTRA_COSTS_TEXT' | translate }}</p>
            </div>
            <div class="threecol last">
                <div class="guarantee_2"></div>
                <h2>{{ 'SHARED.TWO_GUARANTEE_TITLE' | translate }}</h2>
                <p>{{ 'HANDHELD.TWO_GUARANTEE_TEXT' | translate }}</p>
            </div>
        </div>
    </div>
</div>