<div class="index" id="main">
    <div class="row">
        <div class="twelvecol">
            <div id="header">
                <a href="/">
                    <div id="root"></div>
                </a>
                <ul>
                    <li>
                        <a href="#/cylinders">
                            {{ 'MENU.CYLINDER' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="#/cordless">
                            {{ 'MENU.CORDLESS' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="#/handhelds">
                            {{ 'MENU.HANDHELD' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="#/fans-and-heaters">
                            {{ 'MENU.FANS_HEATERS' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelvecol">
            <div id="hero-carousel" class="carousel slide home" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#hero-carousel" data-slide-to="1"></li>
                <li data-target="#hero-carousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                    <img src="../images/index/hero_3.jpg" alt="Dyson Cinetic">
                    <div class="dc52 content">
                        <h1>{{ 'CYLINDER.HERO_HEADLINE_1' | translate }}</h1>
                        <h1>
                            {{ 'CYLINDER.HERO_HEADLINE_2' | translate }}
                            <br/>
                            {{ 'CYLINDER.HERO_HEADLINE_3' | translate }}
                        </h1>
                        <a class="dbutton grey">
                            {{ 'CYLINDER.HERO_BUTTON' | translate }}
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/index/hero.jpg" alt="DC62 Animal">
                    <div class="dc62 content">
                        <h1>{{ 'INDEX.DC62_CAROUSEL_HEADLINE' | translate }}</h1>
                        <a class="dbutton darkgrey">
                            {{ 'INDEX.DC62_CAROUSEL_BUTTON' | translate }}
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/index/hero_2.jpg" alt="Air Multiplier">
                    <div class="air-multiplier content">
                        <h1>{{ 'INDEX.AIR_MULTIPLIER_HEADLINE' | translate }}</h1>
                    </div>
                </div>
              </div>

              <!-- Controls -->
              <div class="left carousel-control" data-target="#hero-carousel" data-slide="prev">
                <span></span>
              </div>
              <div class="right carousel-control" data-target="#hero-carousel" data-slide="next">
                <span></span>
              </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row gutter">
            <div class="threecol">
                <h2>{{ 'INDEX.CORDLESS_TITLE' | translate }}</h2>
                <div class="cordless"></div>
                <p>{{ 'INDEX.CORDLESS_TEXT' | translate }}</p>
                <a class="dbutton grey" href="#/cordless">{{ 'INDEX.CORDLESS_BUTTON' | translate }}</a>
            </div>
            <div class="threecol">
                <h2>{{ 'INDEX.CYLINDER_TITLE' | translate }}</h2>
                <div class="cylinders"></div>
                <p>{{ 'INDEX.CYLINDER_TEXT' | translate }}</p>
                <a class="dbutton grey" href="#/cylinders">{{ 'INDEX.CYLINDER_BUTTON' | translate }}</a>
            </div>
            <div class="threecol">
                <h2>{{ 'INDEX.HANDHELD_TITLE' | translate }}</h2>
                <div class="handhelds"></div>
                <p>{{ 'INDEX.HANDHELD_TEXT' | translate }}</p>
                <a class="dbutton grey" href="#/handhelds">{{ 'INDEX.HANDHELD_BUTTON' | translate }}</a>
            </div>
            <div class="threecol last">
                <h2>{{ 'INDEX.FANS_HEATERS_TITLE' | translate }}</h2>
                <div class="fans"></div>
                <p>{{ 'INDEX.FANS_HEATERS_TEXT' | translate }}.</p>
                <a class="dbutton grey" href="#/fans-and-heaters">{{ 'INDEX.FANS_HEATERS_BUTTON' | translate }}</a>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol">
                <div class="video">
                    <h1>“{{ 'INDEX.MISSION_HEADER' | translate }}”</h1>
                    <a href="" target="_blank">
                        <div></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row gutter">
            <div class="twelvecol">
                <h1>{{ 'INDEX.MORE_THAN_MACHINE_HEADER' | translate }}</h1>
            </div>
        </div>
        <div class="row gutter">
            <div class="fourcol">
                <div class="video_selector ball"></div>
                <h2>{{ 'INDEX.BALL_TECH_TITLE' | translate }}</h2>
                <p>{{ 'INDEX.BALL_TECH_TEXT' | translate }}</p>
            </div>
            <div class="fourcol">
                <div class="video_selector cyclone"></div>
                <h2>{{ 'INDEX.CYCLONE_TITLE' | translate }}y</h2>
                <p>{{ 'INDEX.CYCLONE_TEXT' | translate }}</p>
            </div>
            <div class="fourcol last">
                <div class="video_selector multiplier"></div>
                <h2>{{ 'INDEX.MULTIPLIER_TITLE' | translate }}</h2>
                <p>{{ 'INDEX.MULTIPLIER_TEXT' | translate }}</p>
            </div>
        </div>
    </div>
</div>